In [34]:
#Q1

import time 
ltime = time.localtime()
ftime = time.strftime("%H:%M:%S , %Y-%m-%d", ltime)
time_str = time.strftime("%H:%M:%S" , ltime)

print(ftime)
print(time_str)

00:06:56 , 2021-12-29
00:06:56

In [14]:
#Q3
fname="Mostafa"
lname="Ali"
print(lname+" "+fname)

Ali Mostafa

In [4]:
#Q4
import calendar
y=2021
m=12
print(calendar.month(y,m))

   December 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [38]:
#Q5
n="246.2458"
x=float(n)
print(n)
print(int(x))

246.2458
246

In [6]:
#Q6
print("Hello World\n"*3)

Hello World
Hello World
Hello World

In [14]:
#Q7
def fun(str):
    if len(str) < 2:
        return 'Empty String'
    return str[0:2] + str[-2:]
print(fun('w3resource'))
print(fun('w3'))
print(fun('w'))

w3ce
w3w3
Empty String

In [8]:
#Q8
List=[1,2,3,4,5]
print(sum(List))

15

In [18]:
#9

x = int(input("Enter the value of x :"))
y = 3*(x**2)+4*x-3



print(y)

Enter the value of x :3
36

In [5]:
#Q10
list1=["m","na","i","ke"]
list2=["y","me","s","lly"]
l3=[]
for i in range(len(list1)):
    x=list1[i]+list2[i]
    l3.append(x)
print(l3)

['my', 'name', 'is', 'kelly']

In [13]:
#Q11
alist=[1,2,3,4,5,6,7]
list2=[]
for i in alist:
    list2.append(alist[i-1]**2)
print(list2)

[1, 4, 9, 16, 25, 36, 49]

In [40]:
#Q12
list1=["Mike","","Emma","Kelly","","Brad"]
while "" in list1:
    list1.remove("")
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [43]:
#Q13
atuple=(10,20,30,40,50)
x=list(atuple)
x.reverse()
atuple=tuple(x)
print(atuple)

(50, 40, 30, 20, 10)

In [1]:
#Q14
atuple=("10","20","30","40")
a,b,c,d=atuple

print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [19]:
#15
tuble1 = (50,10,60,70,50)
print(tuble1.count(50))

2

In [2]:
#16
set1 = {10,20,30,40,50,10}
set2 = {30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}

In [3]:
#17
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print( set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [4]:
#18
set1 = {10,20,30}
set2 = {20,40,50}

print(set1.difference(set2))

{10, 30}

In [28]:
#19
k=["ten", "twenty", "thirty"]
v=[10,20,30]

d = {}

for i in range(len(k)):
    d[k[i]]=v[i]
    
print(d)

{'ten': 10, 'twenty': 20, 'thirty': 30}

In [39]:
#20

sampleDict = {
    
    "name": "kelly",
    "age":25,
    "salary":8000,
    "city":"new yourk"
}

d = {}

l=["name","salary"]
for i in range(len(l)):
    if l[i] in sampleDict.keys():
        d[l[i]]=sampleDict[l[i]]
        
        
print(d)

{'age': 25, 'city': 'new yourk'}

In [33]:
#21
sampleDict = {
    
    "name": "kelly",
    "age":25,
    "salary":8000,
    "city":"new yourk"
}


l=["name","salary"]
for i in l:
    del sampleDict[i]
print(sampleDict)

{'age': 25, 'city': 'new yourk'}